.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  position: absolute;
  background-color: black;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  left: 0;
  transition: all 0.2s;
}

.toggle-switch__text {
  position: absolute;
  color: gray;
  top: 5px;
  font-family: "Cabinet Grotesk Regular", sans-serif;
  font-weight: 700;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
