.page {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page__content {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
