.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk Regular", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk Regular", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.header__add-clothes-btn:hover {
  color: #00000099;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk Regular", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__username:hover {
  color: #00000099;
}

.header__link {
  text-decoration: none;
  color: #000000;
}
