.sidebar {
  display: flex;
  gap: 16px;
  margin-top: 47px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-family: "Cabinet Grotesk Regular", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  margin: 5px 0 0;
}
