.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  padding: 20px;
  border-radius: 12px;
  color: #000000;
  width: 200px;
}

.sidebar__header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-family: "Cabinet Grotesk Regular", sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 155px;
}

.sidebar__edit-btn,
.sidebar__signout-btn {
  width: 100%;
  padding: 8px 0;
  background: transparent;
  font-family: "Cabinet Grotesk Regular", sans-serif;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}
